apiVersion: v1
kind: Service
metadata:
  name: alloy
  labels:
    app: alloy
spec:
  clusterIP: None
  selector:
    app: alloy
  ports:
    - name: http
      port: 12345
      targetPort: 12345
      protocol: TCP
