apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - namespace.yaml
  - prometheus/rbac.yaml
  - prometheus/configmap.yaml
  - prometheus/deployment.yaml
  - prometheus/service.yaml
  - node-exporter/daemonset.yaml
  - node-exporter/service.yaml
  - grafana/configmap.yaml
  - grafana/deployment.yaml
  - grafana/service.yaml
