apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - namespace.yaml
  - alert-manager/deployment.yaml
  - alert-manager/pvc.yaml
  - alert-manager/service.yaml
  - prometheus/rbac.yaml
  - prometheus/deployment.yaml
  - prometheus/service.yaml
  - node-exporter/daemonset.yaml
  - node-exporter/service.yaml
  - grafana/deployment.yaml
  - grafana/service.yaml

configMapGenerator:
  - name: alertmanager-config
    files:
      - alert-manager/config/alertmanager.yml
  - name: grafana-datasources
    files:
      - grafana/config/datasources.yaml
  - name: prometheus-config
    files:
      - prometheus/config/prometheus.yml
      - prometheus/config/alert-rules.yml
