apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: homepage
resources:
  - namespace.yaml
  - deployment.yaml
  - rbac.yaml
  - serviceaccount.yaml
  - secret.yaml
  - service.yaml
configMapGenerator:
  - name: homepage-config
    files:
      - config/bookmarks.yaml
      - config/custom.css
      - config/custom.js
      - config/docker.yaml
      - config/kubernetes.yaml
      - config/services.yaml
      - config/settings.yaml
      - config/widgets.yaml
