apiVersion: v1
kind: Service
metadata:
  name: homepage
spec:
  type: LoadBalancer
  selector:
    app: homepage
    component: server
  ports:
    - name: http
      port: 3030
      targetPort: http
