global:
  resolve_timeout: 5m

route:
  group_by: ["alertname", "cluster", "service"]
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 12h
  receiver: "default"
  routes:
    - match:
        severity: critical
      receiver: "critical"
      continue: true
    - match:
        severity: warning
      receiver: "default"

receivers:
  - name: "default"
    pushover_configs:
      - user_key_file: /etc/alertmanager/secrets/pushover-user-key
        token_file: /etc/alertmanager/secrets/pushover-token
        priority: "0"
        title: "[{{ .Status | toUpper }}] {{ .GroupLabels.alertname }}"
        message: |
          {{ range .Alerts }}
          {{ .Annotations.summary }}
          {{ .Annotations.description }}
          {{ end }}

  - name: "critical"
    pushover_configs:
      - user_key_file: /etc/alertmanager/secrets/pushover-user-key
        token_file: /etc/alertmanager/secrets/pushover-token
        priority: "1" # High priority for critical alerts
        title: "[CRITICAL] {{ .GroupLabels.alertname }}"
        message: |
          {{ range .Alerts }}
          {{ .Annotations.summary }}
          {{ .Annotations.description }}
          {{ end }}
