- search:
    provider: duckduckgo
    target: _blank
- kubernetes:
    cluster:
      show: false
      cpu: true
      memory: true
      showLabel: true
      label: "cluster"
    nodes:
      show: true
      cpu: true
      memory: true
      showLabel: true
- resources:
    backend: resources
    expanded: true
    cpu: true
    memory: true
    network: default
- openmeteo:
    label: Post Falls
    latitude: 47.71754363856643
    longitude: -116.91818818359036
    timezone: America/Los_Angeles
    units: imperial
    cache: 5 # Time in minutes to cache API responses, to stay within limits
    format: # optional, Intl.NumberFormat options
      maximumFractionDigits: 1
